.full{
    z-index: 100;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    background-color: #141219;
    box-shadow: 0px 0.2px 2px 0px rgba(0,0,0,0.1);
}
.navbar{

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icon:hover{
    cursor: pointer;
    
}
.nav-icon{

    position: relative;
    z-index: 3;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    padding: 0.7rem;
    margin-left: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-icon i{
    color: rgb(165, 165, 165);
}


/* Menu */
hr{
    width: 90%;
    margin: 1rem auto;
}

.menu{
    position: fixed;
    z-index: 10;
    box-sizing: content-box;
    background-color: #141219;
    height: 100vh;
    width: 100%;
    max-width: 380px;
    border-right: 0.3px solid grey;
    overflow-y: scroll;
}
.menu::-webkit-scrollbar { 
    display: none; 
}
.menu ul{
    display: flex;
    text-align: left;
    flex-direction: column;
}
.menu ul i{
    font-size: 1.6rem;
}
.menu li{
    color: rgb(109, 109, 105);
    margin: 1.6rem 2rem;
    font-size: 1.1rem;
}
.menu a:hover{
    background-color: rgba(160, 160, 158,0.7); 
}
.menu .navbar{
    
    box-shadow: 0px 0.2px 2px 0px rgba(0,0,0,0.1);
    height: 3rem;
    align-items: center;
}
.menu li i{
    font-size: 1.3rem;
    margin-right: 1rem;
}
.contrast{
    background-color: rgba(0,0,0,0.4);
    z-index: -1;
    width: 100%;
    height: 100vh;
    position: fixed;

    left: 0%;
}