.news{
    padding-top: 4rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
    
}
.grid-container{

    margin: 0 auto;
    display: grid;
    max-width: 1100px;
    grid-template: auto auto auto auto/1fr;
    gap: 1rem;
    grid-auto-flow: dense
}
.grid-item{
    margin: 0 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    z-index:-1 ;
}
.grid-item img{
    width: 100%;
    margin-bottom: -6px;

    
}
.related-item{
    display: flex;
    justify-content: space-between;
    text-align: left;
    
}
.wide .related-item img{
    width: 45%;
    height: 100%;
}
.related-item img{
    width: 30%;
    height: 100%;
}
.grid-item p{
    color: black;
    text-align: left;
    font-size: 1rem;   
    font-weight: lighter; 
}
.grid-item hr{
    margin: 0.4rem auto;
    width: 99%;
    border:none;
    height: 1px;
    background: rgb(203, 203, 207);
}
.grid-item h1{
    text-align: center;
    width: 100%;
    
    color: black;
    font-size: 2.3rem;
}
.grid-item h2{
    position: absolute;
    color: black;
    font-size: 1.2rem;
    text-align: left;
    bottom: 0;
    width: 100%;
    background: rgba(211, 211, 211, 0.6)
}
.grid-item h3{
display: flex;
justify-content: space-between;
    background-color: rgba(223, 220, 217, 0.493);
    font-size: 1rem;
    color: black;
    text-align: left;
    height: 2rem;
    align-items: center;
}

h3 .icon{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 2rem;
    float: right;
    background-color: rgb(180, 180, 180);


    text-align: center  
}
.grid-item i{
    color: black;

}



/* RESPONSIVE */
@media only screen and (min-width: 500px){
    .grid-item h2{
        background: none;
        position: relative;
    }
    .grid-container{
        grid-template: repeat(5,auto)/1fr 1fr;
    
    }
    .wide{

        grid-column: span 2;
        grid-row: span 3;
    }
    .related{

        grid-row: 4/span 2;
        grid-column: span 1;
    }
}
@media only screen and (min-width: 1000px){
    .grid-item h2{
        background: none;
        position: relative;
    }
    .grid-container{
        grid-template: auto auto/ repeat(7,1fr);

    }
    .grid-item{
        grid-column: span 2;

    }
    .wide{
        grid-column: span 3;
        grid-row: 1/span 2;
    }
    .related{
        grid-row: 1/span 2;
        
    }
    
}